html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.dc-legend-item text {
  fill: #d3d3d3;
}
.dc-leaflet {
  border: 1px solid #21272c;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #000;
}
.leaflet-control.country-info{
  font-size: 14px;
  padding: 4px;
  color: #d3d3d3;
  border: 1px solid #494b52;
  background: rgba(25,29,33,0.7) !important
}
.leaflet-container {
  background-color: #21272c !important;
}
.leaflet-control-attribution {
  background: rgba(25,29,33,0.7) !important
}
.leaflet-control-zoom a {
  background: rgba(25,29,33) !important;
  color: #d3d3d3;
}
.leaflet-control-zoom a:hover {
  color: #7e7e7e;
}
.leaflet-control-zoom-in {
  border-bottom-color: #7e7e7e !important;
}
.info-icon {
  color: #d3d3d3;
  cursor:pointer;
  text-decoration: none;
}
.info-icon:hover {
  color: #7e7e7e;
}
.chart-space {
  min-height: 150px;
}
.chart-loading {
  height: 150px;
  width: 150px;
}
#research-modal .logo {
  background-color: white;
  max-width: 200px;
  max-height: 120px;
  margin: 6px 0;
  border-radius: 3px;
}
#reset-dc:hover {
  text-decoration: underline;
  color: #ffffff;
  cursor: pointer;
}
